@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-anthracite text-ivoire font-inter antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
